[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/1-ads2020-Equipe-3RAG"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/1-ads2020-Equipe-3RAG
	url = https://github.com/Api2sem2021/1-ads2020-Equipe-3RAG.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/1-ADS2020-Team-Of-The-Semester"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/1-ADS2020-Team-Of-The-Semester
	url = https://github.com/Api2sem2021/1-ADS2020-Team-Of-The-Semester.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/1-ads2020-Equipe-Energy-Control"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/1-ads2020-Equipe-Energy-Control
	url = https://github.com/Api2sem2021/1-ads2020-Equipe-Energy-Control.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/1-ads2020-Equipe-Psycho"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/1-ads2020-Equipe-Psycho
	url = https://github.com/Api2sem2021/1-ads2020-Equipe-Psycho.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/1-ads2020-Equipe-Hex-gono"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/1-ads2020-Equipe-Hex-gono
	url = https://github.com/Api2sem2021/1-ads2020-Equipe-Hex-gono.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/1-ads2020-Equipe-Smart-Stock"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/1-ads2020-Equipe-Smart-Stock
	url = https://github.com/Api2sem2021/1-ads2020-Equipe-Smart-Stock.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/2A-ads2020-Equipe-1"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/2A-ads2020-Equipe-1
	url = https://github.com/Api2sem2021/2A-ads2020-Equipe-1.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/2A-ads2020-Equipe-2"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/2A-ads2020-Equipe-2
	url = https://github.com/Api2sem2021/2A-ads2020-Equipe-2.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/2A-ads2020-Equipe-3"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/2A-ads2020-Equipe-3
	url = https://github.com/Api2sem2021/2A-ads2020-Equipe-3.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/2A-ads2020-Equipe-4"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/2A-ads2020-Equipe-4
	url = https://github.com/Api2sem2021/2A-ads2020-Equipe-4.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/3-ADS2020-Equipe-2"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/3-ADS2020-Equipe-2
	url = https://github.com/Api2sem2021/3-ADS2020-Equipe-2.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/3-ADS2020-Equipe-1"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/3-ADS2020-Equipe-1
	url = https://github.com/Api2sem2021/3-ADS2020-Equipe-1.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/3-ADS2020-Equipe-3"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/3-ADS2020-Equipe-3
	url = https://github.com/Api2sem2021/3-ADS2020-Equipe-3.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/3-ADS2020-Equipe-5"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/3-ADS2020-Equipe-5
	url = https://github.com/Api2sem2021/3-ADS2020-Equipe-5.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/5-ADS2020-Equipe-2"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/5-ADS2020-Equipe-2
	url = https://github.com/Api2sem2021/5-ADS2020-Equipe-2.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/5-ADS2020-Equipe-4"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/5-ADS2020-Equipe-4
	url = https://github.com/Api2sem2021/5-ADS2020-Equipe-4.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/5-ADS2020-Equipe-5"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/5-ADS2020-Equipe-5
	url = https://github.com/Api2sem2021/5-ADS2020-Equipe-5.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/5-ADS2020-Equipe-7"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/5-ADS2020-Equipe-7
	url = https://github.com/Api2sem2021/5-ADS2020-Equipe-7.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/5-ADS2020-Equipe-8"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/5-ADS2020-Equipe-8
	url = https://github.com/Api2sem2021/5-ADS2020-Equipe-8.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/6-ADS2020-Equipe-1"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/6-ADS2020-Equipe-1
	url = https://github.com/Api2sem2021/6-ADS2020-Equipe-1.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/6-ADS2020-Equipe-4"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/6-ADS2020-Equipe-4
	url = https://github.com/Api2sem2021/6-ADS2020-Equipe-4.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma A/6-ADS2020-Equipe-5"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma A/6-ADS2020-Equipe-5
	url = https://github.com/Api2sem2021/6-ADS2020-Equipe-5.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma B/1-ads2020-Equipe-iPET"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma B/1-ads2020-Equipe-iPET
	url = https://github.com/Api2sem2021/1-ads2020-Equipe-iPET.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma B/1-ads2020-Equipe-JeRso"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma B/1-ads2020-Equipe-JeRso
	url = https://github.com/Api2sem2021/1-ads2020-Equipe-JeRso.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma B/1-ads2020-Equipe-Home-Solutions"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma B/1-ads2020-Equipe-Home-Solutions
	url = https://github.com/Api2sem2021/1-ads2020-Equipe-Home-Solutions.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma B/2B-ads2020-Equipe-1"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma B/2B-ads2020-Equipe-1
	url = https://github.com/Api2sem2021/2B-ads2020-Equipe-1.git
[submodule "2020_1/Analise e Desenvolvimento de Sistemas/Turma B/2B-ads2020-Equipe-3"]
	path = 2020_1/Analise e Desenvolvimento de Sistemas/Turma B/2B-ads2020-Equipe-3
	url = https://github.com/Api2sem2021/2B-ads2020-Equipe-3.git
